.about {
    // display: none;
    background-color: #1A1A1A;
    padding-top: 120px;

    &__wrapper {
        display: grid;
        grid-template-columns: 400px 670px; /* 2 колонки */
        grid-template-rows: minmax(245px, auto) minmax(225px, auto); /* 2 строки */

        column-gap: 70px;
        row-gap: 40px;
    }

    &__photo {
        grid-row: 1/3;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    &__descr {
        padding-top: 5px;
        .divider {
            margin: 5px 0 0 0;
        }
    }

    &__text {
        margin-bottom: 0;;
        margin-top: 20px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #ededed;
    }

    &__skills {
        display: grid;
        grid-template-columns: 260px 260px;
        grid-template-rows: minmax(116px, auto) minmax(116px, auto);
        grid-auto-rows: 1fr;
        column-gap: 50px;
        row-gap: 20px;
    }
    &__skill {
        display: grid;
        grid-template-columns: 40px 200px;
        column-gap: 20px
    }
    &__skill-circle {
        z-index: 2;
        position: relative;
        @include before_circle;
        padding-top: 15px;
        padding-left: 20px;
        &::before {
            top: 0px;
        }
    }


    &__skills-text {
        margin-top: 6px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #ededed;
    }
    // .title__big {
    //     margin-top: 15px;
    //     font-size: 48px;
    // }



}