@keyframes social { /* анимация для соцсетей */ 

    from { /* как будет изначально */
        transform: scale(1); /* ширина и высота 100% */
    }

    50% { /* как будет в середине анимации */
        transform: scale(1.3); /* увеличиваем до 120% */
    }

    to { /* как будет в конце анимации */
        transform: scale(1); 
    }
}



@keyframes hamburger { /* анимация для соцсетей */ 

    from { /* как будет изначально */
        transform: scale(1); /* ширина и высота 100% */
    }

    50% { /* как будет в середине анимации */
        transform: scale(0.9); /* увеличиваем до 120% */
    }

    to { /* как будет в конце анимации */
        transform: scale(1); 
    }
}


@keyframes contacts-social { /* анимация для соцсетей */ 

    from { /* как будет изначально */
        transform: scale(1); /* ширина и высота 100% */
    }

    50% { /* как будет в середине анимации */
        transform: scale(1.15); /* увеличиваем до 120% */
    }

    to { /* как будет в конце анимации */
        transform: scale(1); 
    }
}