.contacts {
    // display: none;
    background-color: #1A1A1A;
    padding: 120px 0 90px 0;

    &__wrapper {
        padding: 0 35px 0 35px;
        display: grid;
        grid-template-columns: 420px 585px;
        column-gap: 68px;

    }
    &__photo {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__descr {
        padding-top: 6px;
        .divider {
            margin: 0;
        }
    }
    .title__fz14 {
        margin-top: 20px;
    }
    &__social {
        margin-top: 20px;
    }
    &__link {
        margin-right: 25px;
        img {
            max-width: 30px;
            max-height: 30px;
            &:hover {
                animation: contacts-social 1.5s ease infinite;
            }
        }
        
        
    }
    &__form {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2, 280px);
        grid-template-rows: 45px 190px 45px;
        justify-content: space-between;
        row-gap: 30px;
        label { /* ваше имя ваша почта */
            display: block;
            position: absolute;
            height: 18px;
            padding: 0 8px;
            background-color: #1A1A1A;
            color: #ededed;
            font-size: 12px;
            margin-bottom: 0;
            top: -9px;
            left: 12px;
        }

    }
    &__input {
        position: relative;
        input {
            width: 100%;
            height: 100%;
            padding: 0 20px;
            font-size: 12px;
            font-weight: 500;
            background-color: #1A1A1A;
            color: #ededed;
            border: 1px solid #ededed;
        }
        

    }
    &__textarea {
        position: relative;
        grid-column: 1/3;
        textarea {
            width: 100%;
            height: 100%;
            resize: none; /* чтобы поле текстэрии нельзя было расширять */
            padding: 20px;
            font-size: 12px;
            font-weight: 500;
            background-color: #1A1A1A;
            color: #ededed;
            border: 1px solid #ededed;
        }
    }
    &__triggers {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 35px;
    }
    &__btn {
        border: none;
        font-size: 14px;
        line-height: 12px;
        width: 220px;
        color: #1A1A1A;
    }
    &__policy {
        color: #ededed;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        input {
            margin-right: 10px;
            background-color:#1A1A1A;
            color:#1A1A1A
        }
        span {
            line-height: 20px;
        }
    }


}