.resume {
    display: none;
    background-color: #1A1A1A;
    padding-top: 120px;
    
    .title {
        text-align: center;
        padding-left: 0;
        padding-top: 5px;
        &:before {
            // padding: 0;
            top: 0;
            left: 50%;
            transform: translateX(-50%);

        }
    }
    .title__big {
        text-align: center;
    }

    &__wrapper {
        padding: 60px 65px 0 65px;
        display: grid;
        grid-template-columns: 425px 425px;
        column-gap: 135px;
    }

    &__column {
        .title__middle { 
            padding-left: 35px;
            position: relative;
            z-index: 2;
            &:before { /* желтый кружок перед тайтлом */
                content: '';
                position: absolute;
                z-index: -1;
                width: 15px;
                height: 15px;
                background-color: $main-color;
                border-radius: 100%;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    ul {
        list-style-type: none;
        li {
            position: relative;
            &:after {             /* полоска на всю высоту айтема */
                content: '';
                width: 1px;
                height: calc(100% + 16px);
                position: absolute;
                top: -16px;
                left: 0;
                background-color: #ededed;
            }
        }
    }
    &__item {
        position: relative;
        &:before {
            content: '';
            height: 1px;
            width: 47px;
            position: absolute;
            top: 63px;
            background-color: #ededed;
        }
        &-head {
            position: relative;
            padding: 45px 0 0 100px;
        }
        &-body {
            padding-left: 43px;
            margin-top: 12px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #ededed;
        }
        &-icon {
            position: absolute;
            top: 50px;
            left: 45px;
            z-index: 2;
            @include before_circle;
            img {
                position: absolute;
                left: 17px;
                top: 10px;
            }
        }
        &-location {
            margin-top: 5px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #ededed;
        }
    }
    


}