.title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #ededed;
    position: relative;
    @include before_circle;
    padding-left: 12px;
    padding-top: 1px;
    z-index: 2;
    margin-top: 4px;

    &__big {
        // width: 560px;
        font-weight: 700;
        font-size: 36px;
        line-height: 60px;
        color: #ededed;
    }

    &__fz14 {
        margin-bottom: 0;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        color: #ededed;
    }

    &__middle {
        // margin-bottom: 0;
        font-size: 20px;
        line-height: 30px;
        color: #ededed;
    }
    
}